<div class="smileyRow">
  <div class="name" title={{smiley}}>{{smiley}}</div>
  <div class="link">{{[smileys.data[smiley]]}}</div>
  <img [src]="[smileys.data[smiley]]" alt="no img" class="img" (mouseover)="showBigBro($event, true)">
  <img [src]="[smileys.data[smiley]]" alt="no img" class= "bigImg" (mouseleave)="showBigBro($event, false)" [ngStyle]="{
    display:showFullSize?'flex':'none',top:top,
    left:left
  }">
  <div class="toFavourites" (click)="addToFavourites(smiley)"></div>
  <div class="toDeleted" (click)="addToDeleted(smiley)">

  </div>
</div>